/*fonts*/

@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/futura-pt-light.ttf') format('truetype');
}
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/futura-pt-book.ttf') format('truetype');
}
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/futura-pt-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/futura-pt-demi.ttf') format('truetype');
}
@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/futura-pt-bold.ttf') format('truetype');
}

/* Указываем box sizing */
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
p {
  padding: 0;
}
p {
  margin-bottom: 16px;
}
p:last-child {
  margin-bottom: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4em;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  font-family: 'FuturaPT';
  margin: 0px;
  padding: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}
ol, ul {
  list-style-position: inside;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1752px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1650px) {
  .container {
      max-width: 1440px;
  }
}
@media (max-width: 1450px) {
  .container {
      max-width: 1260px;
  }
}
@media (max-width: 1200px) {
  .container {
      max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
      max-width: 980px;
  }
}
@media (max-width: 980px) {
  .container {
      width: 100%;
      max-width: unset;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}