/* --- Image  --- */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---------- START Header ----------*/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.05));
}
.header__container {
  position: relative;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 276px;
  height: 71px;
  margin-right: auto;
}
.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header__nav {
  position: absolute;
  top: 110%;
  left: 65px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 72.5px 25px 25px;
  padding: 20px;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.15s ease;
  width: 0;
  height: 0;
  opacity: 0;
}
/* .header__nav.opened {
  height: 200px;
  width: 200px;
  opacity: 1;
} */
.header__item {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #EBECEC;
}
.header__item:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.header__item a {
  transition: all 0.3s ease;
}
.header__item a:hover {
  color: #21A55E;
}
.header__txt {
  max-width: 500px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-right: 120px;
}
.header__phone a {
  display: block;
  transition: all 0.2s linear;
}
.header__phone a:hover {
  color: rgba(1, 225, 131, 1);
}
.phone {
  display: flex;
  align-items: center;
}
.phone svg {
 margin-right: 16px;
}
.header__menu {
  position: relative;
  margin-right: 120px;
}
.header__btn {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 8.85%, rgba(1, 225, 131, 0.5) 100%);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 15px;
  transition: all 0.2s linear;
}
.header__btn:hover {
  cursor: pointer;
  background: rgba(1, 225, 131, 0.5);
}
.header__btn svg {
  margin-right: 20px;
}
.header__btn svg, .header__btn span {
  pointer-events: none;
}
/*---------- END Header ----------*/

/*---------- START Footer ----------*/
.footer {
  padding: 80px 0;
  background-color: #EBECEC;
}
.footer__container {
  display: grid;
  grid-template-columns: 32% 40% 1fr;
  gap: 40px;
}
.footer__logo {
  display: block;
  width: 276px;
  height: 71px;
  margin-bottom: 20px;
}
.footer__connection {
  columns: 2;
}
.footer__connection a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  max-width: 260px;
  transition: all 0.2s linear;
}
.footer__connection a:hover {
  color: rgba(1, 225, 131, 1);
}
.footer__connection svg {
  margin-right: 15px;
  min-width: 25px;
  min-height: 25px;
}
.footer__connection .address {
  align-items: flex-start;
}
.footer__law {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__law a {
  transition: all 0.2s linear;
}
.footer__law a:hover {
  color: rgba(1, 225, 131, 1);
}
/*---------- END Footer ----------*/

/*---------- START Slick ----------*/
.slider__container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.slider__container .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; 
  font-size: 0; 
  width: 30px; 
  height: 30px;
  border: none;
  background-color: transparent;
}
.slider .slick_arrow.slick_prev {
  left: -60px;
}
.slider .slick_arrow.slick_next {
  right: -60px;
}
.slider__container .slick-arrow:hover {
  cursor: pointer;
}
.slider__container .slick-arrow path {
  transition: all 0.2s linear;
}
.slider__container .slick-arrow:hover path {
  fill: rgba(1, 225, 131, 0.5);
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
}
.slick-dots button {
  background: #D9D9D9;
  border: none;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-right: 7px;
  outline: none;
  font-size: 0;
  transition: all 0.2s linear;
}
.slick-dots li.slick-active button {
  background: #fff;
}
.slick-dots button:hover {
  cursor: pointer;
  background: rgba(1, 225, 131, 0.5);
}
/*---------- END Slick ----------*/

/*---------- START Section Slider ----------*/
.slider {
  margin-top: 160px;
  background-color: #EBECEC;
}
.slider__item {
  display: grid !important;
  grid-template-columns: 1fr 1056px 1fr;
  align-items: center;
  gap: 30px;
}
.slider__colors, .slider__description {
  padding: 40px 0;
}
.slider__colors h4 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #565655;
}
.slider__color {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.slider__color .colors__img {
  width: 50px;
  height: 50px;
}
.colors__txt {
  max-width: 110px;
  font-size: 18px;
  line-height: 100%;
  color: #565655;
  text-align: center;
}
.slider__img {
  width: 1056px;
  height: 100%;
}
.slider__description h4 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #565655;
}
.slider__description ul {
  margin-bottom: 0;
}
.slider__description li {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #565655;
}
/*---------- END Section Slider ----------*/

/*---------- START Section Catalog ----------*/
.catalog {
  padding: 100px 0;
}
.catalog__container {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  gap: 40px;
}
.catalog__description h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  color: #898989;
}
.catalog__txt {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}
.catalog__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 35px;
}
.catalog__card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 400px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.15));
  border-radius: 25px;
  background-color: #fff;
  z-index: 1;
}
.catalog__card::after, .furniture__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(1, 225, 131, 0.5) 0%, rgba(255, 255, 255, 0.5) 104%);
  border-radius: 25px;
  transform: translate(-15px, -15px);
  z-index: -1;
}
.catalog__card img, .furniture__card img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
}
.catalog__card h4 {
  margin-top: auto;
  z-index: 1;
  text-align: center;
  padding: 40px;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}
/*---------- END Section Catalog ----------*/

/*---------- START Section Furniture ----------*/
.furniture {
  margin-top: 160px;
  padding: 100px 0;
}
.furniture__container {
  max-width: 1400px;
  margin: 0 auto;
}
.furniture__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 20px;
}
.furniture__title {
  margin-bottom: 90px;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  color: #898989;
  text-align: center;
}
.furniture__caption {
  display: block;
  margin-bottom: 20px;
}
.furniture__caption h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}
.furniture__presence, .furniture__absence {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.presence {
  color: #21A55E;  
}
.absence {
  color: #A52121;  
}
.furniture__price {
  margin-bottom: 20px;
}
.price {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  color: #019847;
}
.furniture__img {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 280px;
  max-width: 280px;
  margin-bottom: 35px;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.furniture__card img {
  object-fit: contain;
  padding: 20px;
}
.furniture_inner {
  margin-top: 160px;
  padding: 100px 0;
}
.furniture_inner__container {
  display: grid;
  grid-template-columns: 690px 1fr;
  gap: 80px;
}
.furniture__sliders {
  margin-bottom: 50px;
}
/* .furniture__gallery, .furniture__gallery_sm {
  max-width: 800px;
  margin: 0 auto;
} */
.furniture__gallery {
  position: relative;
  z-index: 10;
}
.gallery__item {
  position: relative;
  height: 640px;
  border-radius: 25px;
  padding-bottom: 40px;
  padding-right: 40px;
}
.gallery__item img, .gallery__item_sm img {
  object-fit: contain;
  padding: 20px;
}
.gallery__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 91%;
  height: 91%;
  background: linear-gradient(90deg, rgba(1, 225, 131, 0.5) 0%, rgba(255, 255, 255, 0.5) 104%);
  border-radius: 25px;
  z-index: -1;

}
.gallery__item::after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 91%;
  height: 91%;
  background: #fff;
  border-radius: 25px;
  z-index: -1;
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.15);
}
.furniture__gallery_sm {
  max-width: 560px;
}
.gallery__item_sm {
  height: 160px;
  border-radius: 25px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-right: 20px;
}
.gallery__item_sm::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 91%;
  height: 91%;
  background: linear-gradient(90deg, rgba(1, 225, 131, 0.5) 0%, rgba(255, 255, 255, 0.5) 104%);
  border-radius: 25px;
  z-index: -1;

}
.gallery__item_sm::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 91%;
  height: 91%;
  background: #fff;
  border-radius: 25px;
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.gallery__item_sm:hover {
  cursor: pointer;
}

.furniture_inner__caption {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}
.furniture_inner__price {
  margin-bottom: 20px;
}
.furniture_inner__text {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D8D8D8;
}
.furniture__feature {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
}
.furniture__colors {
  display: flex;
  flex-wrap: wrap;
}
.colors__title {
  width: 100%;
  margin-bottom: 20px;
}
.furniture__colors .colors__img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
/*---------- END Section Furniture ----------*/

.sticky__icon svg {
  width: 80px;
  height: 80px;
}
.sticky__whatsapp, .sticky__phone {
  display: block;
  position: fixed;
  bottom: 40px;
  z-index: 99;
}
.sticky__whatsapp {
  left: 40px;
}
.sticky__phone {
  right: 40px;
}

/*---------- Responsive ----------*/

@media (max-width: 1650px) {
  .catalog__container {
    grid-template-columns: 1fr;
  }
  .slider__item {
    grid-template-columns: 1fr 800px 1fr;
  }
  .slider__img {
    width: 800px;
  }
  .header__txt, .phone {
    font-size: 20px;
    max-width: 400px
  }
  .header__txt, .header__menu {
    margin-right: 60px;
  }
}
@media (max-width: 1450px) {
  .catalog__card {
    min-height: 300px;
  }
  .footer__container {
    grid-template-columns: 32% 50% 1fr;
  }
  .slider__item {
    grid-template-columns: 1fr 700px 1fr;
  }
  .slider__img {
    width: 700px;
  }
  .catalog__description h2 {
    font-size: 40px;
  }
}
@media (max-width: 1260px) {
  .header__txt {
    display: none;
  }
  .footer__container {
    grid-template-columns: 32% 1fr;
  }
  .catalog, .furniture, .furniture_inner {
    padding: 80px 0;
  }
  .furniture__container {
    max-width: 1100px;
  }
  .furniture__cards {
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    row-gap: 60px;
  }
  .furniture__title {
    margin-bottom: 60px;
    font-size: 40px;
  }
  .furniture__caption h4 {
    font-size: 24px;
  }
  .slider__item {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
  }
  .slider__img {
    width: 100%;
    height: 400px;
    grid-column: span 2;
  }
  .slider__colors {
    order: 1;
  }
  .slider__container {
    width: 100%;
  }
  .slider__colors, .slider__description {
    padding: 0px;
    padding-bottom: 40px;
  }
  .gallery__item_sm {
    height: 140px;
  }
  .gallery__item {
    height: 440px;
  }
  .furniture_inner__container {
    grid-template-columns: 600px 1fr;
    gap: 40px;
  }
  .furniture_inner__caption {
    font-size: 30px;
  }
  .slider__container {
    overflow: hidden;
  }
}
@media (max-width: 1100px) {
  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 980px) {
  .header__container {
    padding: 30px 0;
  }
  .furniture__container {
    max-width: 800px;
  }
  .furniture__caption h4 {
    font-size: 20px;
  }
  .price {
    font-size: 18px;
  }
  .slider, .furniture, .furniture_inner {
    margin-top: 130px;
  }
  .catalog__card {
    min-height: 250px;
  }
  .catalog__card h4 {
    padding: 20px;
    font-size: 24px;
  }
  .catalog__description h2 {
    font-size: 30px;
  }
  .slider__description h4 , .slider__colors h4{
    margin-bottom: 20px;
    font-size: 20px;
  }
  .slider__description li, .colors__txt {
    font-size: 16px;
  }
  .catalog__txt {
    font-size: 18px;
  }
  .slider__color {
    gap: 10px;
    grid-template-columns: 35px 1fr;
    margin-bottom: 10px;
  }
  .slider__color .colors__img {
    width: 35px;
    height: 35px;
  }
  .slider__img {
    height: 300px;
  }
  .furniture__img {
    margin-bottom: 20px;
  }
  .presence, .absence {
    font-size: 18px;
  }
  .slider__item {
    gap: 30px;
  }
  .furniture_inner__container {
    grid-template-columns: 400px 1fr;
    gap: 40px;
  }
  .gallery__item {
    height: 320px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .gallery__item_sm {
    height: 100px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .gallery__item img, .gallery__item_sm img {
    padding: 5px;
  }
  .gallery__item_sm::after {
    width: 85%;
    height: 85%;
    border-radius: 10px;
  }
  .gallery__item_sm::before {
    width: 85%;
    height: 85%;
    border-radius: 10px;
  }
  .gallery__item::before {
    width: 90%;
    height: 90%;
    border-radius: 20px;
  }
  .gallery__item::after {
    bottom: 20px;
    right: 20px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
  }
  .furniture__sliders {
    margin-bottom: 0px;
    max-width: 400px;
  } 
  .furniture_inner__text {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .sticky__icon svg {
    width: 60px;
    height: 60px;
  }
  .sticky__whatsapp, .sticky__phone {
    bottom: 20px;
  }
  .sticky__whatsapp {
    left: 20px;
  }
  .sticky__phone {
    right: 20px;
  }
  .furniture__img {
    min-height: 200px;
  }
}
@media (max-width: 860px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__law {
    grid-column: unset;
  }
  .header__menu {
    margin-right: 40px;
  }
  .furniture__feature {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .catalog, .furniture, .furniture_inner {
    padding: 60px 0;
  }
  .furniture__cards {
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
  }
  .furniture__container {
    max-width: 600px;
  }
  .furniture__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .furniture__caption h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .catalog__cards {
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
  }
  .catalog__description h2 {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
  .catalog__txt {
    font-size: 16px;
    text-align: center;
  }
  .slider__description li, .colors__txt, .price {
    font-size: 14px;
  }
  .presence, .absence {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .furniture__price {
    margin-bottom: 10px;
  }
  .footer__logo {
    width: 139px;
    height: 35px;
  }
  .furniture__description {
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: start;
    column-gap: 20px;
  }
  .furniture_inner__text {
    grid-column: span 2;
  }
  .furniture_inner__container {
    grid-template-columns: 100%;
  }
}
@media (max-width: 680px) {
  .header__phone {
    display: none;
  }
  .header__menu {
    margin-right: 0px;
    padding: 10px 15px;
  }
  .header__container {
    padding: 20px 0;
  }
  .slider, .furniture, .furniture_inner {
    margin-top: 85px;
  }
  .header__logo {
    width: 139px;
    height: 35px;
  }
  .catalog, .furniture, .furniture_inner, .footer {
    padding: 40px 0;
  }
  .catalog__card, .furniture__img {
    min-height: 180px;
  }
  .catalog__card::after {
    transform: translate(-10px, -10px);
  }
  .furniture__img::after {
    transform: translate(-5px, -5px);
  }
  .slider__img {
    height: 230px;
  }
  .furniture__description {
    grid-template-columns: 1fr 1fr;
  }
  .furniture__feature {
    font-size: 14px;
  }
  .furniture__colors .colors__img {
    width: 30px;
    height: 30px;
  }
  .colors__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .header__nav {
    left: auto;
    right: 50px;
    border-radius: 25px 0px 25px 25px;
  }
  .sticky__icon svg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .furniture__container {
    max-width: 400px;
  }
  .footer__connection a, .furniture__caption h4 {
    font-size: 14px;
  }
  .footer__connection svg {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
  }
  .footer__container {
    gap: 30px;
  }
  .catalog__cards {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .catalog__card h4 {
    text-align: left;
    font-size: 20px;
  }
  .slider__description li {
    font-size: 12px;
  }
  .catalog__card, .furniture__img {
    min-height: 150px;
  }
  .furniture__cards {
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
  }
}